CREATE DATABASE QLPH
GO

USE QLPH
GO

CREATE TABLE GIANGDUONG
(
MAGD VARCHAR(10) NOT NULL,
TENGD NVARCHAR(100) NOT NULL,

CONSTRAINT PK_GIANGDUONG PRIMARY KEY(MAGD)
)

CREATE TABLE PHONG 
(
	MAPHONG VARCHAR(10) NOT NULL,
	SOPHONG VARCHAR(100) NULL,
	SUCCHUA INTEGER NOT NULL,
	MAGD VARCHAR(10) NULL,
	
	CONSTRAINT PK_PHONGHOC PRIMARY KEY(MAPHONG)		
)


CREATE TABLE TRANGTHIETBI
(
	MATTB VARCHAR(10) NOT NULL,
	TENTTB NVARCHAR(100) NOT NULL,
	
	CONSTRAINT PK_TRANGTHIETBI PRIMARY KEY(MATTB)
)

CREATE TABLE PHONG_TRANGTHIETBI
(
	MATTB VARCHAR(10) NOT NULL,
	MAPHONG VARCHAR(10) NOT NULL,
	SOLUONG INTEGER NOT NULL,	
	
	CONSTRAINT PK_PHONG_TRANGTHIETBI PRIMARY KEY(MATTB, MAPHONG)	
)

CREATE TABLE SINHVIEN
(
	MASV VARCHAR(10) NOT NULL,
	HO NVARCHAR(50) NOT NULL,
	TEN NVARCHAR(50) NOT NULL,
	GIOITINH NVARCHAR(10) NOT NULL,
	DIENTHOAI VARCHAR(20) NOT NULL,
	
	CONSTRAINT PK_SINHVIEN PRIMARY KEY(MASV)	
)

CREATE TABLE TIETHOC
(
	MATH VARCHAR(10) NOT NULL,
	BATDAU INTEGER NOT NULL,
	KETTHUC INTEGER NOT NULL,	
	
	CONSTRAINT PK_TIETHOC PRIMARY KEY(MATH)
)

CREATE TABLE MONHOC
(
	MAMH VARCHAR(10) NOT NULL,
	TENMH NVARCHAR(50) NOT NULL,
	SOTINCHI INTEGER NOT NULL,	
	
	CONSTRAINT PK_MONHOC PRIMARY KEY(MAMH)
)

CREATE TABLE GIANGVIEN
(
	MAGV VARCHAR(10) NOT NULL,
	HO NVARCHAR(50) NOT NULL,
	TEN NVARCHAR(50) NOT NULL,
	DIENTHOAI VARCHAR(20) NOT NULL,	
	GIOITINH NVARCHAR(10) NOT NULL,

	CONSTRAINT PK_GIANGVIEN PRIMARY KEY(MAGV)
)

CREATE TABLE NHOMHOCPHAN
(
	MANHP VARCHAR(10) NOT NULL,	
	NGAYBATDAU DATE NOT NULL,
	NGAYKETTHUC DATE NOT NULL,
	MAMH VARCHAR(10) NOT NULL,
	MAGV VARCHAR(10) NOT NULL,
	
	CONSTRAINT PK_NHOMHOCPHAN PRIMARY KEY(MANHP)
)

CREATE TABLE SINHVIEN_NHOMHOCPHAN
(
	MASV VARCHAR(10) NOT NULL,	
	MANHP VARCHAR(10) NOT NULL,
	MAMH VARCHAR(10) NOT NULL,

	CONSTRAINT PK_SINHVIEN_NHOMHOCPHAN PRIMARY KEY(MASV, MANHP, MAMH)
)

CREATE TABLE THOIKHOABIEU
(
	MANHP VARCHAR(10) NOT NULL,
	THU NVARCHAR(50) NOT NULL,	
	MAPHONG VARCHAR(10) NOT NULL,
	MATH VARCHAR(10) NOT NULL,
	
	CONSTRAINT PK_THOIKHOABIEU PRIMARY KEY(MANHP, MAPHONG)
)
GO
/*==========================================================*/

/* PHONG */
ALTER TABLE dbo.PHONG
ADD CONSTRAINT FK1_GIANGDUONG FOREIGN KEY(MAGD) REFERENCES dbo.GIANGDUONG(MAGD)

/* PHONG_TRANGTHIETBI */
ALTER TABLE dbo.PHONG_TRANGTHIETBI
ADD CONSTRAINT FK1_PHONG FOREIGN KEY(MAPHONG) REFERENCES dbo.PHONG(MAPHONG)

ALTER TABLE dbo.PHONG_TRANGTHIETBI
ADD CONSTRAINT FK2_TRANGTHIETBI FOREIGN KEY(MATTB) REFERENCES dbo.TRANGTHIETBI(MATTB)

/* NHOMHOCPHAN */

ALTER TABLE dbo.NHOMHOCPHAN
ADD CONSTRAINT FK1_GIANGVIEN FOREIGN KEY(MAGV) REFERENCES dbo.GIANGVIEN(MAGV)

ALTER TABLE dbo.NHOMHOCPHAN
ADD CONSTRAINT FK2_MONHOC FOREIGN KEY(MAMH) REFERENCES dbo.MONHOC(MAMH)

/* SINHVIEN_NHOMHOCPHAN */
ALTER TABLE dbo.SINHVIEN_NHOMHOCPHAN
ADD CONSTRAINT FK1_SINHVIEN FOREIGN KEY(MASV) REFERENCES dbo.SINHVIEN(MASV)

ALTER TABLE dbo.SINHVIEN_NHOMHOCPHAN
ADD CONSTRAINT FK2_NHOMHOCPHAN FOREIGN KEY(MANHP) REFERENCES dbo.NHOMHOCPHAN(MANHP)
-- 1 MÔN HỌC + 1 NHÓM HỌC PHẦN có nhiều sinh viên -----------------------------
ALTER TABLE dbo.SINHVIEN_NHOMHOCPHAN
ADD CONSTRAINT FK3_NHOMHOCPHAN FOREIGN KEY(MAMH) REFERENCES dbo.NHOMHOCPHAN(MAMH)


/* THOIKHOABIEU */
ALTER TABLE dbo.THOIKHOABIEU
ADD CONSTRAINT FK1_NHOMHOCPHAN FOREIGN KEY(MANHP) REFERENCES dbo.NHOMHOCPHAN(MANHP)

ALTER TABLE dbo.THOIKHOABIEU
ADD CONSTRAINT FK2_PHONG FOREIGN KEY(MAPHONG) REFERENCES dbo.PHONG(MAPHONG)

ALTER TABLE dbo.THOIKHOABIEU
ADD CONSTRAINT FK3_TIETHOC FOREIGN KEY(MATH) REFERENCES dbo.TIETHOC(MATH)
GO



/*----------------------------------------------------------------------*/
INSERT INTO dbo.GIANGDUONG
( MAGD, TENGD )
VALUES
(  'G1' , N'GIANG DUONG G1' ),
(  'G2' , N'GIANG DUONG G2' ),
(  'G3' , N'GIANG DUONG G3' ),
(  'G4' , N'GIANG DUONG G4' ),
(  'G5' , N'GIANG DUONG G5' ),
(  'G6' , N'GIANG DUONG G6' ),
(  'G7' , N'GIANG DUONG G7' ),
(  'G8' , N'GIANG DUONG G8' )




INSERT INTO dbo.PHONG
( MAPHONG, SOPHONG , SUCCHUA , MAGD )
VALUES
( 'p001', '101' , 50 , 'G1' ),
( 'p002', '102' , 50 , 'G1' ),
( 'p003', '103' , 50 , 'G1' ),
( 'p004', '104' , 50 , 'G1' ),
( 'p005', '105' , 50 , 'G1' ),
( 'p006', '201' , 60 , 'G1' ),
( 'p007', '202' , 70 , 'G1' ),
( 'p008', '203' , 60 , 'G1' ),
( 'p009', '204' , 70 , 'G1' ),
( 'p0010', '205' , 60 , 'G1' ),
( 'p0011', '301' , 40 , 'G1' ),
( 'p0012', '302' , 40 , 'G1' ),
( 'p0013', '303' , 40 , 'G1' ),
( 'p0014', '304' , 50 , 'G1' ),
( 'p0015', '305' , 40 , 'G1' )

INSERT INTO dbo.TRANGTHIETBI
( MATTB , TENTTB )
VALUES
( 'MTB', N'MAY TINH BAN DELL' ),
( 'MC' , N'MAY CHIEU' ),
( 'MF' , N'MAY FAX' ),
( 'MI' , N'MAY IN' )

INSERT INTO dbo.PHONG_TRANGTHIETBI
( MAPHONG , MATTB , SOLUONG )
VALUES
( 'p001' , 'MTB' , 10 ),
( 'p002' , 'MTB' , 10 ),
( 'p003' , 'MTB' , 10 ),
( 'p004' , 'MTB' , 10 ),
( 'p001' , 'MC' , 1 ),
( 'p002' , 'MC' , 1 ),
( 'p005' , 'MC' , 1 ),
( 'p006' , 'MC' , 1 ),
( 'p001' , 'MI' , 1 ),
( 'p002' , 'MI' , 1 ),
( 'p003' , 'MI' , 1 )





INSERT INTO dbo.TIETHOC
( MATH, BATDAU, KETTHUC )
VALUES
( 'th01', 1, 2 ),
( 'th02', 1, 3 ),
( 'th03', 2, 3 ),
( 'th04', 2, 4 ),
( 'th05', 3, 4 ),
( 'th06', 3, 5 ),
( 'th07', 4, 5 ),
( 'th08', 6, 7 ),
( 'th09', 6, 8 ),
( 'th10', 7, 8 ),
( 'th11', 7, 9),
( 'th12', 8, 9),
( 'th13', 8, 0),
( 'th14', 9, 0)


INSERT INTO dbo.THOIKHOABIEU
( MANHP, THU, MAPHONG, MATH)
VALUES
( '01', '6', 'p001', 'th01'),
( '11', '2', 'p001', 'th03'),
( '12', '2', 'p001', 'th07'),
( '13', '4', 'p001', 'th01'),
( '14', '5', 'p001', 'th06'),
( '14', '7', 'p002', 'th06')
GO












/*---------------------------------------------------------*/

-- Câu 3: 
-- a) Câu truy vấn đơn giản
-- Hiển thị thời khóa biểu của sinh viên 016

select mh.MAMH, nhp.MANHP, mh.TENMH, mh.SOTINCHI, tkb.THU, th.BATDAU, th.KETTHUC, p.MAGD, p.SOPHONG, nhp.NGAYBATDAU
from (
	select *
	from dbo.SINHVIEN_NHOMHOCPHAN sv_nhp
	where sv_nhp.MASV = '016'
) dshp
inner join dbo.THOIKHOABIEU tkb on dshp.MANHP = tkb.MANHP
inner join dbo.NHOMHOCPHAN nhp on nhp.MANHP = dshp.MANHP
inner join dbo.MONHOC mh on mh.MAMH = nhp.MAMH
inner join dbo.TIETHOC th on th.MATH = tkb.MATH
inner join dbo.PHONG p on p.MAPHONG = tkb.MAPHONG



-- g) Truy vấn Update, Delete

-- Chỉnh sửa tên sinh vien co MASV 003 thành Minh
UPDATE dbo.SINHVIEN
SET TEN = 'Minh'
WHERE MASV = '003'

-- Chỉnh sửa số tin chỉ của môn hoc có MAMH POL333 thành 3
UPDATE dbo.MONHOC
SET SOTINCHI = 3
WHERE MAMH = 'POL333'

-- Chỉnh sửa nhóm học phần của sinh vien có MSSV '009' từ '07' sang '08'
UPDATE dbo.SINHVIEN_NHOMHOCPHAN
SET MANHP = '08'
WHERE MANHP = '07'
	and MASV = '009'
	

-- Câu 5
-- Tạo người dùng chỉ có thể đọc 
CREATE LOGIN minh86 WITH PASSWORD='12345';
-- 
CREATE USER uminh86 FOR LOGIN minh86;
--
GRANT CONNECT to uminh86;
-- 
GRANT SELECT on SINHVIEN to uminh86;
--
GO

-- CÂU 4

-------------------------------- THỦ TỤC LƯU TRỬ ------------------------------------

-- Thủ tục liệt kê các nhóm học phần môn 'Tư tưởng Hồ Chí Minh' có giảng viên là 'NỮ' giảng dạy
CREATE PROC SP_NHP_GIANGVIENNU
@GIOITINH NVARCHAR(10) NOT NULL,
@TENMONHOC NVARCHAR(50) NOT NULL
AS
	BEGIN
		SELECT NHP.MANHP AS CACNHOMHOCPHAN 
		FROM dbo.MONHOC MH JOIN dbo.NHOMHOCPHAN NHP ON NHP.MAMH = MH.MAMH
		WHERE MH.TENMH = @TENMONHOC
			AND NHP.MAGV IN ( SELECT MAGV FROM dbo.GIANGVIEN
								WHERE GIOITINH = @GIOITINH
								)
	END
EXEC dbo.SP_NHP_GIANGVIENNU
	@GIOITINH = N'NỮ', -- nvarchar(10)
	@TENMONHOC = N'Tư tưởng Hồ Chí Minh' -- nvarchar(50)
GO

-- Thủ tục liệt kê thông tin các sinh viên đang học môn 'Tư tưởng Hồ Chí Minh' thuộc các nhóm có giảng viên là 'NAM' giảng dạy
CREATE PROC SP_THONGTINSV
@TENMONHOC NVARCHAR(50) NOT NULL,
@GIOITINH NVARCHAR(10) NOT NULL
AS
	BEGIN
		-- Liệt kê thông tin các sinh viên
		SELECT SV.MASV, SV.HO +''+ SV.TEN +''+ SV.GIOITINH +''+ SV.DIENTHOAI +''+ A.MANHP
		AS THONGTINSINHVIEN
		FROM dbo.SINHVIEN SV JOIN dbo.SINHVIEN_NHOMHOCPHAN A ON A.MASV = SV.MASV
							JOIN dbo.NHOMHOCPHAN NPH ON NPH.MAMH = A.MAMH
		WHERE 
	END
GO





--------------------------------- TRIGGER ------------------------------------












